.wrapper {
    display: flex;
    padding: 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 22px;
    text-decoration: none;
    transition: .5s;
}

.around {
    border-radius: 50%;
    background-color: var(--sidebar-popup-bg);
    color: #fff;
    &:hover {
        background-color: var(--content-bg);
    }
}

.large {
    font-size: 30px;
}


.list {
    position: relative;
}


.content-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: auto;
    margin: auto;
    font-weight: bold;
}

.content-link:hover {
    color: white;
}

.content > li {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    background-color: black;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    border-radius: 5px;
}

.content > li:hover {
    background-color: #3E3E3E;
}