.wrapper {
    display: flex;
    padding: 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 22px;
    text-decoration: none;
}

.around {
    border-radius: 50%;
    background-color: var(--sidebar-popup-bg);
    color: #fff;
}

.large {
    font-size: 30px;
}
