.wrapper {
    width: 200px;
    height: 270px;
    margin-left: 40px;
    background-color: rgb(23, 19, 22);
    margin-bottom: 20px;
    margin-right: 40px; 
}   

.card-img {
    border-radius: 3%;
    width: 200px;
    height: 200px;
}
.card-body {
    color: whitesmoke;
}
.card-body-name {
    white-space: nowrap; /* Ngăn không cho đoạn văn bản xuống dòng */
    overflow: hidden; /* Ẩn bớt phần vượt quá kích thước của div */
    text-overflow: ellipsis;
    margin-top: 5px;
}
.card-body-artistName {
    color: grey;
    padding-bottom: 10px;
}
