.wrapper {
    display: flex;
    position: relative;
    color:#b3b3b3;
    height: auto;
    padding: 12px 0;

    &:hover {
        background-color: #5b5b5b;
        border-radius: 5px;
    }

    .serial {
        display: flex;
        align-items: center;
        width: 40px;
        margin-left: 20px;
    }
    
    &:hover .serial-index {
        display: none;
    }

    .btn-play-music {
        display: none;
    }

    &:hover .btn-play-music {
        display: block;
    }

    .title {
        flex: 1;
        display: flex;
        align-items: center;
         
        .image-song img {
            width: 40px;
            height: 40px;
            background-color: #fff;
            margin-right: 16px;
            border-radius: 1px;
        }

        .infor-song, 
        .profile-artist {
            display: block;
            text-decoration:none;
        }

        .infor-song {
            font-size: 1.0rem;
            margin: 0;
            color: #b3b3b3;

            &:hover {
                color: #fff;
            }
        }

        .profile-artist {
            font-size: 0.9rem;
            color: #b3b3b3;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }

    }
    
    .album {
        display: flex;
        align-items: center;
        width: 30%;

        .album-link {
            text-decoration: none;
            color: #b3b3b3;
        
            &:hover {
                color: #fff;
            }
        }
    }
    
    .duration {
        display: flex;
        align-items: center;
        width: 3%;
        margin-right: 20px;
        justify-content: flex-end;
    }

    .like-song {
        width: 4%;

        .form-like-song {
            display: none;
        }
    }

    .delete {
        width: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .form-delete {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }

        .btn-delete {
            color: #b3b3b3
        }
    }
}

.btn-delete {
    display: none;
}

.wrapper:hover .btn-delete {
    display: block;
}

.wrapper:hover .form-like-song {
    display: block;
}
