.wrapper {
    --text-header: #fff;

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 24px;
}

.header {
    display: flex;
    padding: 40px 0 24px 0;
    background-color: rgba(43, 45, 57, 0.25);
}

.header__img {
    height: 232px;
    min-width: 232px;
    width: 232px;
    margin-right: 24px;
    border-radius: 2px;
    margin-left: 32px;
    background-color: rgba(130, 136, 162, 0.25);

    img {
        height: 232px;
        width: 232px;
    }
}

.header__infor {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.infor__heading {
    padding-top: 50px;
    color: var(--text-header);
}

.text-playlist {
    font-size: 1.2rem;
}

.heading-text {
    font-size: 4.0rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.infor__description {
     margin-top: 10px;
     font-size: 1.2rem;
}

.infor_link-profile {
    color: var(--text-header);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: var(--text-header)
    }
}

.numberOfSong {
    color: var(--text-header)
}

// content

.content {
    padding-bottom: 40px;
}

.viewport {
    display: flex;
    align-items: center;
    padding: 24px 32px;
}

.playAndPause-icon {
    font-size: 3.2rem;
    line-height: 3.4rem;
    color: #1ed760;
    margin-right: 32px;

    &:hover {
        transform: scale(1.05, 1.05);
        color: #2dd869;
    }
}

.options-playlist {
    color: #b3b3b3;
    font-size:  2.0rem;
    position: relative;

    .iconDots {
        margin-left: 20px;

        &:hover {
            color: #fff;
        }
    }

}

.options-menu {
    position: absolute;
    left: calc(100% + 8px);
    top: 0;
    width: 240px;
    background-color: #282828;
    border-radius: 5px;
    margin-left: 20px;

    .options-list {
        list-style: none;
        font-size: 1.0rem;
        color: #e8e8e8;
        padding: 0;
        margin: 0;
    }

    .btn-options {
        padding: 8px 12px;
        width: 240px;
        text-align: left;

        &:hover {
            background-color: #424242;
            border-radius: 3px;
            cursor: default;
        }
    }
}

.content-spacing {
    padding: 0 32px;
}

.header-content {
    display: flex;
    position: relative;
    color:#b3b3b3;
    padding: 12px 0;
    margin-bottom: 12px;

    .header-serial {
        width: 30px;
        margin-left: 20px;
    }   
    
    .header-title {
        flex: 1;
    }
    
    .header-album {
        width: 27%;
    }
    
    .header-duration {
        width: 10%;
        margin-right: 20px;
        span {
            float: right;
        }
    }

    .header-delete {
        width: 5%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #2d2d2c;
        bottom: 0;
    }
}

// edit details 
.hidden_background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
}







