.wrapper {
    display: flex;
    padding: 10px 20px 70px 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

.section {
    display: flex;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    flex-direction: column;
    margin-top: 10px;
}

.section-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px 0px 20px;
    

    & a {
        margin-right: 40px;
        cursor: pointer;
    }

    h2 {
        color: #fff
    }
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    min-height: 280px;
    min-width: 200px;
    padding: 10px;
    background-color: var(--content-bg);
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.c-img {
    width: 180px;
    height: 180px;
    align-self: center;
    border-radius: 5px;
}

.c-title {
    align-self: flex-start;
    margin: 10px;
 

    .link-playlist {
        text-decoration: none;
        color: #ffffff;
    }
}

.c-text {
    margin-left: 10px;
    color: #b3b3b3;
}