.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .like-song-icon {
        float: left;
        font-size: 1.6rem;
        color:#c8c4b9;
        margin-top: 4px;
        margin-right: 32px;
        &:hover {
            transform: scale(1.1, 1.1);
            color: var(--text-header);
        }
    }

    .iconLiked {
        color: #1ed760;
    }
}


