.wrapper {
    max-width: 600px;
    margin-left: 140px;
    display: flex;
    background: linear-gradient(to bottom,  rgb(0, 0, 0), #3b363b);
    margin-top: 30px;
    margin-bottom: 10px;
}   

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 1%;
}
.card-body {
    color: whitesmoke;
    padding-left: 30px;
}
.card-body-title {
    margin-top: 40px;
    margin-left: 25px;
}
.card-body-text {
    color: grey;
    padding-top: 25px;
    margin-left: 25px;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin-top: 20px;
}
.card-img-2 {
    width: 200px;
    height: 200px;
   border-radius: 50%;
   margin-right: 40px;
}
.card-body-2 {
    color: white;
    margin-top: 10px;
    margin-left: -55px;
}
