@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

:root {
    font-family: "Poppins", sans-serif;
    --border-color: rgba(130, 136, 162, 0.25);
    --content-bg: rgba(255, 255, 255, 0.25);
    --scrollbar-bg: rgb(1 2 3 / 40%);
    --search-text: #eee;
    --text-placeholder: #757575;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --text-color: #d8d8d8;
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --layout-bg: #170f23;
    --layout-header-bg: rgba(23, 15, 35, 0.8);
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --primary-bg: #34224f;
    --gradient-latest-section-artist: linear-gradient(
        286.07deg,
        rgba(23, 15, 35, 0.95) 55.21%,
        rgba(23, 15, 35, 0.6)
    );
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --purple-primary: #9b4de0;
    --active-color: #fff;
}

* {
    box-sizing: border-box;
    outline: none;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}

a {
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 9px;
    border-radius: 10px;
}

#root {
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

p {
    color: var(--text-color);
    font-size: medium;
    margin: 2px 0;
}

.App {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}
